.float-button { 
	background-color:#33CD5F;
	opacity: 0.9;
	color: white;
	border-radius: 50%;
	/*border-radius:15% 0 0 0;*/
	width: 30px;
	padding: 20px;
	font-size: 40px;
	position: fixed;
	bottom: 13%; /* Adjust height */
	right: 6%; /* Adjust position */
	z-index: 1000;
}

.float-button .height_fix {
	margin-top: 100%;
	border: 1px solid red;
}

.float-button .content {
	position: absolute;
	left: 0;
	top: 50%;
	height: 100%;
	width: 100%;
	text-align: center;
	margin-top: -20px;
  color: white;
}

.float-button:active{
	color: #33CD5F;
	background-color: white;
}

.float-button .content:active{
	color: #33CD5F;
}

.butts{
	margin: 0 auto;
}

.proimg{
	height: 200px;
	width: 200px;
	border-radius: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px; 
	margin-bottom: 15px;
}

.buttonSet {
	margin: 0 auto;
}

.title {
	text-align: center;
	font-size: 1.6rem;
}