<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2 ng-show="hasGroup(myGroup)">{{myGroup}}</h2>
    
    
    <div ng-show="!hasGroup(myGroup)">
      <center><h2>Get Started</h2>
        <button class="button button-full button-balanced" ng-click="modal.show()">Create Group</button></center>
        <button class="button button button-balanced" ng-click="showPopup()">Join Group</button></center>
    </div>

    <div ng-show="hasGroup(myGroup)">
      <div>
        <ion-list>
          <ion-item ng-repeat="(key, value) in items">{{value.$id}}</ion-item>
        </ion-list>
      </div>
    </div>
    
    <br>
    

  
            <label class="item item-input">
              <span class="input-label">Join Group</span>
              <input ng-model="theGroup.groupName" type="text">
            </label>
             <button class="button button-full button-positive" ng-click="joinGroup(theGroup)">join group</button>


  </ion-content>
   <script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-balanced">
          <h1 class="title">Create Group</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Group Name</span>
              <input ng-model="newGroup.groupName" type="text">
            </label>
            <label class="item item-input">
              <span class="input-label">Password</span>
              <input ng-model="newGroup.pass" type="text">
            </label>
            <button class="button button-full button-balanced" ng-click="createGroup(newGroup)">Create</button>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>
<div ng-show="hasGroup(myGroup)">
  <ion-footer-bar keyboard-attach class="bar-balanced item-input-inset" >
    <label class="item-input-wrapper" >
      <input type="text"
             placeholder="Add to the group gorcery list"
             ng-model="item.name" />
    </label >
    <button class="button button-clear ion ion-arrow-right-c"
            ng-click="addItem(item)" >
    </button>
  </ion-footer-bar >
</div>
</ion-view>

