<ion-view view-title="Account" >
      <ion-nav-buttons side="right">
          <button class="button button-icon button-clear ion-more" ng-click="openPopover($event)"></button>
      </ion-nav-buttons>
  
  <ion-content>
      <div padding>
        	<div class="proimg">
          		<div class="eightcon"><img id="theIcon" src="img/{{myNum}}.png"></div>
        	</div>
              <div class="row"><h2 class="center">{{myName}}</h2></div>      
  	  </div>

      <div class="padding">Group Name: {{myGroup}}</div>
          <ion-list>
            <ion-item ng-repeat="member in members">
                <span id="memberName">{{member.$id}}</span>
                <span id="memberIcon"><img src="img/{{member.num}}.png"></span>
            </ion-item>
          </ion-list>               
          <!--{{myNum}} {{myId}} -->

<!--Coming soon... or later. <i class="ion-edit" id="pencil"></i>
    <div class="moved">
      <div class="row nopad">
        <div class="col squared br"><button class="button button-icon icon ion-ios-pulse-strong icenter"><span class="des">Expenses</span></div>
        <div class="col squared"><button class="button button-icon icon ion-ios-cart icenter"></button><span class="des">Recently Purchased</span></div>
      </div>
      <div class="row nopad">
        <div class="col squared rb"><button class="button button-icon icon ion-person-stalker icenter"></button><span class="des">Group Members</span></div>
        <div class="col squared tl"><button class="button button-icon icon ion-person-add icenter"></button><span class="des">Invite to Group</span></div>
      </div>
    </div>-->

  </ion-content>
        <script id="my-popover.html" type="text/ng-template">
            <ion-popover-view>
                <ion-header-bar>
                  <h1 class="title">More</h1>
                </ion-header-bar>
              <ion-content>
                <div class="list">
                  <a class="item" href="http://site.com/">Item</a>
                  <a class="item" href="http://site.com/">Item</a>
                  <a class="item" href="http://site.com/">Help</a>
                  <a class="item" ng-click="showConfirm()">Signout</a>
              </ion-content>
            </ion-popover-view>
        </script>
</ion-view>
