<ion-view view-title="Account" >
      <ion-nav-buttons side="right">
          <button class="button button-icon button-clear ion-more" ng-click="openPopover($event)"></button>
      </ion-nav-buttons>
  
  <ion-content>
      <div padding>
        	<div class="proimg">
          		<div class="eightcon"><img id="theIcon" src="img/{{myNum}}.png"></div>
        	</div>
              <div class="row"><h2 class="center">{{myName}}</h2></div>      
  	  </div>

      <div class="padding">Group Name: {{myGroup}}</div>
          <ion-list>
            <ion-item ng-repeat="member in members">
                <span id="memberName">{{member.$id}}</span>
                <span id="memberIcon"><img src="img/{{member.num}}.png"></span>
            </ion-item>
          </ion-list>        





<!--Coming soon... or later. <i class="ion-edit" id="pencil"></i>
    <div class="moved">
      <div class="row nopad">
        <div class="col squared br"><button class="button button-icon icon ion-ios-pulse-strong icenter"><span class="des">Expenses</span></div>
        <div class="col squared"><button class="button button-icon icon ion-ios-cart icenter"></button><span class="des">Recently Purchased</span></div>
      </div>
      <div class="row nopad">
        <div class="col squared rb"><button class="button button-icon icon ion-person-stalker icenter"></button><span class="des">Group Members</span></div>
        <div class="col squared tl"><button class="button button-icon icon ion-person-add icenter"></button><span class="des">Invite to Group</span></div>
      </div>
    </div>-->

  </ion-content>
        <script id="my-popover.html" type="text/ng-template">
            <ion-popover-view>
                <ion-header-bar>
                  <h1 class="title">More</h1>
                </ion-header-bar>
              <ion-content>
                <div class="list">
                  <a class="item" ng-click="openModal(); setRequest()">Request Feature</a>
                  <a class="item" ng-click="openModal(); setReport()">Report Problem</a>
                  <a class="item" href="http://wwww.twitter.com">Connect with us</a>
                  <a class="item" ng-click="showConfirm()">Signout</a>
              </ion-content>
            </ion-popover-view>
        </script>
        <script id="my-modal.html" type="text/ng-template">
          <ion-modal-view>
            <ion-header-bar class="bar-positive">
              <h1 class="title">{{reason}}</h1>
              <button class="button button-icon button-clear" ng-click="closeModal()">Close</button>
              
            </ion-header-bar>
            <ion-content class="padding">
                  <center><img src="img/requestimage.png"/></center>
                  <div style="padding-bottom: 10px;">{{descrip}}</div>
                  <div class="list">
                    <label class="item item-input">
                      <textarea class="textareas" ng-model="myMessage" placeholder="Thanks! We love feedback">
                      </textarea>
                    </label>
                    <button class="button button-block button-positive" ng-click="sendResponse(myMessage)">Send</button>
                  </div>
              
            </ion-content>
          </ion-modal-view>
        </script>
</ion-view>
