<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Welcome to Ionic</h2>
    
    <div ng-show="!hasGroup(myGroup)">
      <center><span>Add a group</span>
        <button ng-click="modal.show()">Create Group</button></center>
    </div>

    <div ng-show="hasGroup(myGroup)">
      <ul>
        <li>Test</li>
        <li>Test</li>
      </ul>
    </div>

    
  </ion-content>


   <script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-balanced">
          <h1 class="title">New Group</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Group Name</span>
              <input ng-model="newGroup.groupName" type="text">
            </label>
            <label class="item item-input">
              <span class="input-label">Invite Members</span>
              <input ng-model="newGroup.members" type="text">
            </label>
            <label class="item item-input">
              <span class="input-label">Password (optional)</span>
              <input ng-model="newGroup.pass" type="text">
            </label>
            <button class="button button-full button-balanced" ng-click="createGroup(newGroup)">Create</button>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>
</ion-view>
