
// .bottom {
//   margin-bottom: 0;
// }

// .outerCenter {
//   // text-align: center;
//   // margin-left: 50%;
//   // left: 50%;
//   // margin: 0 auto;
//   width: 100%;
//   text-align: center;
// }

// .innerCenter {
//   display: inline-block;
// }

// .right {
  // float: right;
  // margin-right: -2%;
  // margin-top: -2;
  // color: #fff;
// }




.speaker-list {

  ion-card.speaker ion-card-header .item {
    padding: 12px;
  }

  ion-card.speaker ion-card-content .list {
    margin: 0;
  }

  ion-card.speaker ion-card-header,
  ion-card.speaker ion-card-content,
  ion-card.speaker ion-card-content .list ion-item-content, {
    padding: 0;
  }
  
}

